# OS
# ===========
.DS_Store
Thumbs.db

# Project
# ===========
dist/ui-progresspie.pre.js
dist/coverage/
dist/src/

# Related ecosystem
# ===========
node_modules
bower_components
coverage

# General
# ===========
temp
*.log
*.swp
.*.swp
*~
*.iml
.idea
.project
core
lib
tags
.tags
TAGS
.TAGS
