<!doctype html>
<html ng-app="demoapp">
  <head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="dist/progresspie.js"></script>
    <script>
        var app = angular.module("demoapp", ['ui-progresspie']);
        app.controller("ProgressPieController", [ "$scope", function($scope) {
            // Nothing here!
        }]);
    </script>
    <style>
    text {
      font-family: sans-serif;
      fill: #666;
      font-weight: 100;
    }
    </style>
  </head>
  <body ng-controller="ProgressPieCtrl" bgcolor="#FFF">
    <div progresspie data-actual="0.5" data-expected="0.25" data-size="340" data-threshold="0.1"></div>
    <input type="text" ng-model="ctrl.actual"> Actual<br />
    <input type="text" ng-model="ctrl.expected"> Expected<br />
    <input type="text" ng-model="ctrl.threshold"> Threshold<br />
  </body>
</html>
